.checkboxLabel > input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:not(&:disabled) + span {
        cursor: pointer;
    }
}

.checkboxLabel > span {
    position: relative;
    display: inline-flex;
    align-items: center;
    user-select: none;

    svg {
        position: absolute;
        left: 4px;
    }
}

.checkboxLabel > span::before {
    content: '';
    display: inline-block;
    min-width: 18px;
    min-height: 18px;
    border: 1px solid #2E2E2E;
    border-radius: 4px;
    margin-right: 8px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-color 0.2s linear;
}

.checkboxLabel > input:checked + span::before {
    background-color: #2E2E2E;
}

.checkboxLabel > input:disabled + span::before {
}
