@import '../../../assets/styles/variables';

.userInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 872px;
    width: 100%;
    margin-top: 18px;
    color: #2E2E2E;
    font-size: 12px;
    line-height: 13px;
    padding: 26px;
    border-radius: 23px;
    background-color: #F6F6F6;

    .infoList {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .notify {
            font-size: 14px;
            line-height: 16px;
        }

        .infoItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 26px;

            .infoText {
                display: flex;
                align-items: flex-start;
                gap: 10px;
                color: #303030;
                font-size: 14px;
                font-weight: 400;
                margin-right: 7px;

                img {
                    position: relative;
                    top: -6px;
                    width: 21px;
                    height: 21px;
                }
            }

            .buttonsContainer {
                display: flex;
                align-items: center;
                gap: 16px;
                color: #F04634;
                font-size: 14px;
                line-height: 16px;

                .button {
                    cursor: pointer;
                }
            }
        }
    }

    .buttonWrapper {
        align-self: flex-start;
    }
}

@media (max-width: #{$media-575}) {
    .userInfoContainer {
        padding: 26px 16px;

        .infoList {
            gap: 26px;

            .infoItem {
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;

                .infoText {
                    gap: 6px;
                }
            }
        }

        .buttonWrapper {
            align-self: center;
        }
    }
}
