@import '../../assets/styles/variables';

.radioLabel {
    color: #303030;
    font-size: 14px;
    font-weight: 400;
    margin-right: 7px;
    cursor: pointer;

    .radioInput {
        margin: 0;
        visibility: hidden;
    }

    .radioInput:checked + span {
        border: 8px solid #2F2F2F;
    }

    .customRadio {
        position: relative;
        display: inline-block;
        left: -8px;
        top: 6px;
        width: 24px;
        height: 24px;
        border: 1px solid #878787;
        border-radius: 50%;
        cursor: pointer;
    }
}
