@import "src/assets/styles/variables";

.myProfile {
    max-width: 872px;
    width: 100%;
    margin-top: 18px;
    color: #2E2E2E;
    font-size: 12px;
    line-height: 13px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 26px;
    border-radius: 23px;
    background-color: #F6F6F6;

    .fieldSet {
        display: flex;
        flex-wrap: wrap;
        gap: 26px;

        .field {
            flex: 30% 1 1;
        }

        .fieldContainer {
            display: flex;
            flex-direction: column;
            gap: 8px;

            input {
                padding-bottom: 4px;
                border: none;
                outline: none;
                background-color: transparent;
                font-size: 14px;
                border-bottom: 1px solid #B6B6B6;
                transition: border-bottom-color 0.2s linear;

                &::placeholder {
                    color: #B6B6B6;
                    font-size: 12px;
                }

                &:focus {
                    border-bottom: 1px solid #2E2E2E;
                }
            }

            .error {
                color: red;
            }
        }
    }

    .fieldAgreement {
        margin-top: 55px;
    }

    .buttons {
        align-self: flex-start;
        display: flex;
        gap: 12px;
        margin-top: 24px;

        button {
            height: 33px;
        }
    }
}

@media (max-width: #{$media-575}) {
    .form {
        padding: 26px 16px;

        .fieldSet {
            gap: 16px;
        }

        .fieldAgreement {
            margin-top: 24px;
        }

        .buttons {
            flex-direction: column;
            justify-content: center;
            margin: 26px auto 0;
            gap: 16px;
        }
    }
}