$animation: .3s;

    //font
$root-font-size: 16;

    //colors
$black: #2F2F2F;
$orange: #EF4136;
$darker-orange: #C9291F;
$dark-orange: #DE3227;
$light-orange: #FF5247;
$extra-light-orange: #FCF4F3;
$pastel-orange: #FDECEB;
$grey: #F3F3F3;
$lighter-grey: #bcbcbc;
$light-grey: #d7d7d7;
$disabled-grey: #dbdbdb;
$highlight-grey: #F8F8F8;
$dark-grey: #878787;
$medium-grey: #aaa5a5;
$peach: #fcf4f3;
$yellow: #F2C94C;
$green: #219653;
$dark-white: #a9a9a9;
$white: #ffffff;

$blue-link: #4285F4;

$skeleton-light-grey: #eee;
$skeleton-grey: #ececec;
$skeleton-white: #f5f5f5;

$discount-gradient-1: #fe0f96;
$discount-gradient-2: #c700e4;

$discount-gradient-3: #7E86CC;
$discount-gradient-4: #8466A8;

    //media
$media-1375: 1375px;
$media-1200: 1200px;
$media-1024: 1024px;
$media-1023: 1023px;
$media-768: 768px;
$media-767: 767px;
$media-575: 575px;
$media-550: 550px;