@import '../../assets/styles/variables';

.textareaContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .fieldName {
        font-size: 12px;
        line-height: 13px;
        font-weight: 500;
    }

    textarea {
        resize: none;
        width: 100%;
        height: 126px;
        padding: 13px 18px;
        border: none;
        outline: none;
        border-radius: 12px;
        background-color: #F6F6F6;
        font-size: 14px;

        &::placeholder {
            color: #B7B7B7;
        }
    }

    .error {
        color: #ef4634;
    }
}
